@import url("https://fonts.bunny.net/css?family=bricolage-grotesque:400,500,600,700,800&display=swap");
@import url("https://fonts.bunny.net/css?family=dm-sans:400,500&display=swap");
@import "tailwindcss";

@theme {
  --color-background:     oklch(0.08 0 0); /*preto*/
  --color-surface:        oklch(0.12 0 0); /*cinza*/
  --color-border:         oklch(0.20 0 0); /*cinza*/
  --color-text-primary:   oklch(0.96 0 0); /*branco*/
  --color-text-secondary: oklch(0.55 0 0); /*cinza escuro*/
  --color-accent:         oklch(0.65 0.18 250); /*azul*/
  --color-accent-muted:   oklch(0.65 0.18 250 / 0.12);/*azul*/
  --color-accent-green:   oklch(0.65 0.18 120); /*verde*/

  --font-display: "Bricolage Grotesque", sans-serif;
  --font-body:    "DM Sans", sans-serif;
}


.container {
  @apply max-w-[1440px] mx-auto
}
html{
  @apply scroll-smooth
}

body {
  @apply bg-white text-text-primary;
  @apply p-0 m-0;
}